.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    min-height: 40rem;
    padding: 2rem;
    margin: 2rem 0;
    border: 2px solid gray;
    border-radius: 8px;
  }
  &__image {
    width: 10rem;
    padding-bottom: 1rem;
  }
  &__details {
    display: flex;
    text-align: center;
    width: 100%;
  }
  &__button {
    min-width: 6.5rem;
    height: 2.5rem;
    margin-right: 1rem;
    padding: 0.1rem;
    border: none;
    background-color: maroon;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    &:hover {
      background-color: red;
    }
  }
  &__breakdown {
    width: 50%;
  }
  &__title {
    font-size: 1.5rem;
    padding-bottom: 2rem;
    font-weight: bold;
  }
  &__price {
    font-size: 1.2rem;
    font-weight: bold;
  }
}
